@font-face {
	font-family: 'LCD';
	src: url(fonts/DS-DIGI.ttf);
}

::-webkit-scrollbar {
	display: none;}

* {
	box-sizing: border-box;
}

html {
	margin: 0;
}

body {    
	width: 100vw;
    height: 100vh;
    font-family: 'LCD';
    background-image: url(images/math.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
	font-size: 8vmin;
	text-align: center;
	color: #F6E006FF;
	text-shadow: 3px 3px 10px black;
}

.view {
	font-size: 8vmin;
	background-color: rgba(0,0,0,.8);
	color: #F6E006FF;
	text-align: right;
	border-radius: 1vmin;
}

#small-display {
	font-size: 4vmin;
	color: #F6E006FF;
}

#inputs {
	height: 85%;
	width: 100%;
}

.btn:hover {
	cursor: pointer;
}

.btn {
	height: 20%;
	color: white;
	margin-top: 1%;
	background-color: rgba(0,0,0,.4);
	font-size: 4vmin;
	text-shadow: 3px 3px 10px black;
	box-shadow: 1px -1px 10px black;
}