::-webkit-scrollbar {
	display: none;
}
* {
	box-sizing: border-box;
}
html {
	margin: 0;
}
body {    
	width: 100vw;
    height: 100vh;
    font-family: 'Kanit', sans-serif;
    background-image: url(images/math.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.head {
	font-size: 8vmin;
	margin-bottom: 3% !important;
}
@media (orientation: landscape){
	.head {
		font-size: 8vmin;
		margin-bottom: 5% !important;
	}
}
.view {
	font-size: 8vmin;
	background-color: rgba(0,0,0,.8);
	color: white;
	text-align: right;
	border-radius: 1%;
}
.log {
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: column;
	height: 32vh;
	font-size: 3vmin;
	background-color: rgba(0, 0, 0, .8);
	color: white;
}
.history_header {
	position: absolute;
	font-size: 3vmin;
	text-decoration: underline;
}
.history {
	overflow: auto;
	margin: 9% 0 !important;
	height: 68%;
	display: flex;
	flex-direction: column-reverse;
}
@media (max-width:600px) {
	.history {
		overflow: auto;
		margin: 5% 0 !important;
		height: 75%;
		display: flex;
		font-size: 4vmin;
		flex-direction: column-reverse;
	}
}
.history_item {
	margin: 0;
	font-size: 5vmin;
}
@media (min-width: 600px){
	.history_item {
		margin: 0;
		font-size: 4vmin;
	}
}
.clear_history {
	position: absolute;
	bottom: 0;
	background-color: rgba(0, 0, 0, .8) !important;
	margin-bottom: 20px;
	box-shadow: 1px -1px 3px black;
}
.clear_history:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 1) !important;
	color: yellow;
}
.num_btn:hover,
.op_btn:hover,
.plus_minus:hover,
#clearEntry_btn:hover,
#clear_btn:hover {
	cursor: pointer;
	color: white;
	background-color: rgba(0, 0, 0, 1) !important;
	box-shadow: 1px -1px 3px black;
}
.ops,
#clearEntry_btn,
#clear_btn {
	height: 20%;
	color: white;
	background-color: rgba(0,0,0,.5);
	font-size: 4vmin;
	box-shadow: 1px -1px 3px black;
}
.op_btn {
	height: 20%;
	color: white;
	font-size: 4vmin;
	box-shadow: 1px -1px 3px black;
}
.nums {
	height: 20%;
	color: white;
	background-color: rgba(0, 0, 0, .8);
	font-size: 4vmin;
	box-shadow: 1px -1px 3px black;
}
.col {
	margin-bottom: 5px;
}
.row{
	margin-bottom: 0;
}